<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/user']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total User</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.userCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--primary mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon>
          <span class="ml-2">{{counterDto.userCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/customers']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Customer</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.customerCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--accent mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon>
          <span class="ml-2">{{counterDto.customerCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/products']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Product</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.productCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--primary mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up </mat-icon>
          <span class="ml-2">{{counterDto.productCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/productitems']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Product Item</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.productCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--accent mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon>
          <span class="ml-2">{{counterDto.productCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/salesorders']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Sales</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.salesOrderCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--accent mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon>
          <span class="ml-2">{{counterDto.salesOrderCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/invoices']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Invoice</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.invoiceCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--primary mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up </mat-icon>
          <span class="ml-2">{{counterDto.invoiceCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/packages']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Package</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.packageCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--accent mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon>
          <span class="ml-2">{{counterDto.packageCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start center" [routerLink]="['/admin/packages']">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Shipment</mat-card-subtitle>
          <h3 class="mat-h3--light m-0">{{counterDto.shipmentCount}}</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg--primary mr-1 mt-0 plr-10 ptb-5" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon>
          <span class="ml-2">{{counterDto.shipmentCount}}%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>