<h1 mat-dialog-title>{{title}} Role</h1>
<div mat-dialog-content>
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input minlength="2" maxlength="30" class="form-control" placeholder="Role Name" [(ngModel)]="role.role" name="role" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <!--Textarea for demo purposes-->
          <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input minlength="2" maxlength="90" class="form-control" placeholder="Description" [(ngModel)]="role.description" name="description" required ></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div mat-dialog-actions>
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
              <button mat-raised-button color="accent"  (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
            </div>
            <br/>
    </form>
</div>

