<h1 mat-dialog-title>Edit Permission</h1>
<div mat-dialog-content>
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Permission Name" [(ngModel)]="data.name" name="name" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <!--Textarea for demo purposes-->
          <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description" required ></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div mat-dialog-actions>
              <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmUpdate()">Save</button>
              <button mat-button (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
          </div>
    </form>
</div>

