<div class="mat-bg--primary--400" [style.min-height] = "'100vh'" fxFlex="100" fxLayoutAlign="center center">
  <div fxFlex="100" [style.max-width]="'400px'">
      <div class="example-loading-shade" *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
    <mat-card *ngIf="successMessage==null">
      <div class="py-1" ngClass.gt-xs="p-1">
        <div class="logo1 text-center">
          <img src="assets/images/logo.png">
          <div class="mat-h2 mt-5">Recover your password</div>
        </div>
        <div class="mt-1">
          <form>
              <mat-error *ngIf="errorMessage!=null">{{errorMessage}}</mat-error>
            <div>
              <mat-form-field fxFlex="100">
                <input type="email" matInput [formControl]="email" placeholder="Your email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="my-1" fxLayoutGap="1rem">
                <button mat-raised-button color="accent" type="submit" class="my-1"  [disabled]="!email.valid" [style.width]="'220px'" (click)="onSubmit()">SEND RESET LINK</button>
              </div>
          </form>
          <div fxLayout="column" fxLayoutAlign="center center" class="mt-1" fxLayoutGap=".5rem">
              <a routerLink="/admin/login" class="mat-body-1 link">Go back to login</a>
            </div>
        </div>
      </div>
    </mat-card>
    <mat-card *ngIf="successMessage!=null">
        <div class="py-1" ngClass.gt-xs="p-1">
          <div class="logo1 text-center">
            <img src="assets/images/logo.png">
          </div>
          <div class="mt-1">
            <mat-error *ngIf="successMessage!=null">{{successMessage}}</mat-error>
            <div fxLayout="column" fxLayoutAlign="center center" class="mt-1" fxLayoutGap=".5rem">
                <a routerLink="/admin/login" class="mat-body-1 link">Go back to login</a>
              </div>
          </div>
        </div>
      </mat-card>
  </div>
</div>
