<mat-card-header>
  <mat-card-title>Update Password</mat-card-title>
</mat-card-header>
<mat-card-content class="mb-0 px-1">
  <form ngClass.gt-xs="px-1" [formGroup]="heroForm">
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-md="100" ngClass.gt-md="pr-1">
        <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
          <mat-form-field fxFlex="100" fxFlex.gt-xs="100">
            <input matInput type="password" minlength="4" maxlength="30" class="form-control" placeholder="Password" formControlName="password"
              required>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <mat-error *ngIf="password.errors.required">
                Password is required.
              </mat-error>
              <mat-error *ngIf="password.errors.minlength">
                Password must be at least 4 characters long.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
          <mat-form-field fxFlex="100" fxFlex.gt-xs="100">
            <input matInput  type="password" minlength="4" maxlength="30" class="form-control" placeholder="Confirm Password"
              formControlName="confPassword" required>
            <mat-error *ngIf="confPassword.invalid && (confPassword.dirty || confPassword.touched)" class="alert alert-danger">
              <mat-error *ngIf="confPassword.errors.required">
                Confirm Password is required.
              </mat-error>
              <mat-error *ngIf="confPassword.errors.minlength">
                Confirm Password must be at least 4 characters long.
              </mat-error>
              <mat-error *ngIf="confPassword.errors.compare">
                  Confirm password do not match.
                </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <br />
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!heroForm.valid" [mat-dialog-close]="true"
            (click)="onSubmit()" class="mr-1">Update</button>
          <button mat-raised-button color="accent" type="button" (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
        </div>
        <br/>
      </div>
    </div>
  </form>
</mat-card-content>