<h1 mat-dialog-title>Update Password</h1>
<div mat-dialog-content>
    <form class="mat-dialog-content" [formGroup]="heroForm">
        <div class="form">
            <mat-form-field color="accent" fxFlex="100" fxFlex.gt-xs="100">
              <input matInput #input minlength="4" maxlength="30" class="form-control" placeholder="Password" formControlName="password" required >
            </mat-form-field>
          </div>
      
          <!--Textarea for demo purposes-->
          <div class="form">
            <mat-form-field color="accent" fxFlex="100" fxFlex.gt-xs="100">
              <input matInput #input minlength="4" maxlength="30" class="form-control" placeholder="Confirm Password" formControlName="confPassword" required >
            </mat-form-field>
          </div>
          <div mat-dialog-actions>
              <button mat-raised-button color="primary" type="submit" [disabled]="!heroForm.valid" [mat-dialog-close]="1" (click)="onSubmit()">Update</button>
              <button mat-raised-button color="accent" type="button" (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
            </div>
            <br/>
    </form>
</div>


