<mat-card class="default chat-container" ngStyle.gt-sm="height:calc(100vh - 180px)">
  <mat-sidenav-container>
    <mat-sidenav [opened]="!isMobile()" [mode]="isMobile() ? 'over' : 'side'" position="start" #chat fxFlex.gt-sm="300px" fxFlex="250px"
      fxLayout="column">
      <perfect-scrollbar>
        <div fxLayout="column">
          <mat-toolbar color="accent" fxFlex="64px">
            <form fxFlex="100" class="chat--search-form">
              <div class="mat-elevation-z1" fxLayout="row" fxLayoutAlign="stretch center">
                <mat-icon class="mat-hint">search</mat-icon>
                <input type="text" placeholder="Search customer name" class="mat-body-1 ml-5" fxFlex="100">
              </div>
            </form>
          </mat-toolbar>
          <mat-nav-list fxFlex class="p-0">
            <div *ngFor="let obj of customers">
              <a mat-list-item (click)="selectCustomer(obj)">
                <h4 mat-line>{{obj.salutation}} {{obj.firstname}} {{obj.lastname}}</h4>
                <!-- <p mat-line class="mat-hint">{{obj.productCode}}</p> -->
              </a>
              <mat-divider></mat-divider>
            </div>
          </mat-nav-list>
        </div>
      </perfect-scrollbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div fxLayout="column" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="calc(100vh - 180px)" fxLayout="column" fxFlex="calc(100vh - 120px)">
          <mat-toolbar color="accent" fxFlex="64px">
            <button mat-icon-button class="mr-1" (click)="chat.toggle()">
              <mat-icon>short_text</mat-icon>
            </button>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column" *ngIf="selectedCustomer!=null">
                <h4 mat-line>{{selectedCustomer.firstname}} {{selectedCustomer.lastname}}</h4>
              </div>
            </div>
            <span fxFlex></span>
            <button mat-button [matMenuTriggerFor]="userMenu" class="user__icon" ngClass.gt-xs="ml-1" ngStyle.xs="min-width: auto">
              <span fxHide.xs class="ml-5">Create</span>
            </button>
            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item (click)="addMutipleCateringService()">
                <mat-icon>add</mat-icon>
                <span>Create Sales Order</span>
              </button>
            </mat-menu>
            <span>
                <button type="button" mat-icon-button ngClass.gt-xs="ml-1" ngClass.xs="ml-5" (click)="emailToCustomers()">
                  <mat-icon>mail</mat-icon>
                </button>
            </span> 
            <span>
              <button type="button" mat-icon-button ngClass.gt-xs="ml-1" ngClass.xs="ml-5" (click)="editCustomer()">
                <mat-icon>edit</mat-icon>
              </button>
            </span>
            <span>
              <button type="button" mat-icon-button ngClass.gt-xs="ml-1" ngClass.xs="ml-5" (click)="deleteCustomer()">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </mat-toolbar>
          <div class="conversation__block" fxFlex fxLayoutWrap="wrap">
            <div fxLayout="column">
              <perfect-scrollbar>
                <div fxLayout="column" class="p-1">
                  <div fxLayout="row" fxLayoutWrap="wrap" style="width: 1000px;">
                    <div fxFlex="100" fxFlex.gt-sm="350px" fxFlex.sm="100" fxLayoutWrap="Wrap" fxLayoutAlign.gt-sm="start start">
                      <div fxFlex.sm="50" fxFlex="100" fxFlex.gt-md="100" fxLayoutAlign.xs="end start">
                        <mat-card class="default" fxFlex.xs="100" *ngIf="selectedCustomer!=null">
                            <mat-card-header>
                            <mat-card-title>{{selectedCustomer.firstname}} {{selectedCustomer.lastname}}</mat-card-title>
                            </mat-card-header>
                             <mat-list class="icon--48">
                              <mat-list-item>
                                <mat-icon>email</mat-icon>{{selectedCustomer.emailid}}
                              </mat-list-item>
                              <mat-list-item>
                                <mat-icon>phone</mat-icon>{{selectedCustomer.contactno}}
                              </mat-list-item>
                              <mat-list-item>
                                <mat-icon>add_location</mat-icon>{{selectedCustomer.billcity}}
                              </mat-list-item>
                            </mat-list> -
                          </mat-card> 
                      </div>
                    </div>
                    <div fxFlex.gt-sm="calc(100%-350px)" fxFlex="100" fxLayoutWrap="Wrap">
                      <div fxFlex.gt-md="100" fxFlex="100" fxLayoutWrap="wrap" fxLayoutAlign="column" fxLayoutAlign.gt-sm="end start">
                        <mat-accordion fxLayoutGap="1em" fxLayout="column" *ngIf="selectedCustomer!=null">
                                  <mat-expansion-panel expanded="false">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Address
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
                                     <h4>Billing Address</h4>
                                     <p>{{selectedCustomer.billstreetno}} {{selectedCustomer.billstreetname}}<br/>
                                      {{selectedCustomer.billcity}} {{selectedCustomer.billstate}} {{selectedCustomer.billpostalcode}}
                                    </p>
                                     <h4>Shipping Address</h4>
                                     <p>{{selectedCustomer.shipstreetno}} {{selectedCustomer.shipstreetname}}<br/>
                                      {{selectedCustomer.shipcity}} {{selectedCustomer.shipstate}} {{selectedCustomer.shippostalcode}}
                                    </p>
                                  </mat-expansion-panel>
                                  <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Other Details
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.                                </mat-expansion-panel>
                                </mat-accordion> 
                      </div>
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card>
